body, html {
    margin: 0;
    padding: 0;
    background-image: url('emplpyee3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

#wrapper {
    display: flex;
    flex-flow: column wrap;
    /* align-items: center; */
    align-content: space-between;
    width: 100%;
    justify-content: center;
    background-repeat: none;
    background-position-y: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#left {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
}

#right {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}

h1 {
    margin: 0;
    padding: 25px;
    color: #ffffff;
   
}

header {
    background-color: #a3c7e3;
    text-align: center;
    margin: 0;
    width: 100%;
    box-shadow: 0 5px 0 #c6c6c6;
}

table {
    background-color: #a3c7e3;
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #7d7d7d; */
}

th {
   background-color: #bbbbbb;
   border-collapse: collapse;
   /* border: 1px solid #7d7d7d; */
   padding: 5px;
   height: 30px;
   font-style: italic;
} 

td {
    /* background-color: #a3c7e3; */
    border-collapse: collapse;
    padding: 10px;
    /* border: 1px solid #7d7d7d; */
}

tr:nth-child(odd){
    background-color: #abd1ee;
  }

  #tableContainer {
      background-color: #c4d3df;
      display: flex;
      flex-flow: column wrap;
      border-radius: 20px;
      padding: 15px;
      margin: 25px;
      width: 75%;
      box-shadow: 0 0 10px #c6c6c6;
      border: 7px solid #a3c7e3;
  }  

  .inputs {
      border: none;
      outline: none;
      background-color: #ffffff;;
  }

  .inputWrap {
    border: 2px solid #ebebeb;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: white;
  }

  .inputWrap:hover {
      box-shadow: 0 0 10px #8c99c2;
  }

  #inputContainer {
      display: flex;
      flex-direction: column;
      background-color: #a3c7e3;
      border-radius: 20px;
      padding: 15px;
      margin: 25px;
      width: 350px;
      box-shadow: 5px 5px  #c6c6c6;
      height: 350px;
      /* border: 5px solid #c6c6c6; */
  }

  #inputContainer h3 {
      text-align: center;
  }

  #submitBtn {
    border-radius: 5px;
    align-self: center;
    margin: 10px;
    width: 150px;
    height: 40px;
}

#submitBtn:hover {
    box-shadow: 0 0 10px 2px #c6c6c6;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

td:last-child {
    text-align: center;
}

.deleteBtn {
    border-radius: 5px;
    align-items: center;
    background-color: #ffffff;
    border: none;
}

.fas fa-plus {
    height: 20px;
    width: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

