body, html {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 20px;
}
header {
    background-color: #dbdbdb;
    text-align: center;
    margin: 0;
}

thead {
    background-color: #dbdbdb;
    border: solid 1px;
}

table {
    border: solid 1px;
    width: 50%;
    text-align: center;
}

td {
    border: solid 1px;
}

tbody tr:nth-child(odd){
    background-color: #dbdbdb;
  }
